html, body {
    margin: 0;          
    padding: 0;
    background: #000;  
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
  
  *:focus {
    outline: none;
  }

  app-root {
    display: block;   
    border: none;    
  }
  